# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [12]:
## 1. Load the Datasets

import pandas as pd

# Load the datasets
file1_url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
file2_url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv'
file3_url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv'

df1 = pd.read_csv(file1_url)
df2 = pd.read_csv(file2_url)
df3 = pd.read_csv(file3_url)

In [13]:
## 2. Initial Inspection

# Inspect the first few rows and data types of each dataframe
print(df1.head())
print(df1.info())

print(df2.head())
print(df2.info())

print(df3.head())
print(df3.info())

  Customer          ST GENDER             Education Customer Lifetime Value  \
0  RB50392  Washington    NaN                Master                     NaN
1  QZ44356     Arizona      F              Bachelor              697953.59%
2  AI49188      Nevada      F              Bachelor             1288743.17%
3  WW63253  California      M              Bachelor              764586.18%
4  GA49547  Washington      M  High School or Below              536307.65%

    Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB
None
  Customer          ST GENDER Education Customer Lifetime Value  Income  \
0  GS98873     Arizona      F  Bachelor              323912.47%   16061
1  CW49887  California      F    Master              462680.11%   79487
2  MY31220  California      F   College              899704.02%   54230
3  UH35128      Oregon      F   College             2580706.30%   71210
4  WH52799     Arizona      F   College              380812.21%   94903

   Monthly Premium Auto Number of Open Complaints  Total Claim Amount  \
0                    88                    1/0/00               633.6
1                   114                    1/0/00               547.2
2                   112                    1/0/00               537.6
3                   214                    1/1/00              1027.2
4                    94                    1/0/00               451.2

      Policy Type  Vehicle Class
0   Personal Auto  Four-Door Car
1    Special Auto            SUV
2   Personal Auto   Two-Door Car
3   Personal Auto     Luxury Car
4  Corporate Auto   Two-Door Car
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 996 entries, 0 to 995
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   996 non-null    object
 1   ST                         996 non-null    object
 2   GENDER                     991 non-null    object
 3   Education                  996 non-null    object
 4   Customer Lifetime Value    992 non-null    object
 5   Income                     996 non-null    int64
 6   Monthly Premium Auto       996 non-null    int64
 7   Number of Open Complaints  996 non-null    object
 8   Total Claim Amount         996 non-null    float64
 9   Policy Type                996 non-null    object
 10  Vehicle Class              996 non-null    object
dtypes: float64(1), int64(2), object(8)
memory usage: 85.7+ KB
None
  Customer       State  Customer Lifetime Value             Education Gender  \
0  SA25987  Washington              3479.137523  High School or Below      M
1  TB86706     Arizona              2502.637401                Master      M
2  ZL73902      Nevada              3265.156348              Bachelor      F
3  KX23516  California              4455.843406  High School or Below      F
4  FN77294  California              7704.958480  High School or Below      M

   Income  Monthly Premium Auto  Number of Open Complaints    Policy Type  \
0       0                   104                          0  Personal Auto
1       0                    66                          0  Personal Auto
2   25820                    82                          0  Personal Auto
3       0                   121                          0  Personal Auto
4   30366                   101                          2  Personal Auto

   Total Claim Amount  Vehicle Class
0          499.200000   Two-Door Car
1            3.468912   Two-Door Car
2          393.600000  Four-Door Car
3          699.615192            SUV
4          484.800000            SUV
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7070 entries, 0 to 7069
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   7070 non-null   object
 1   State                      7070 non-null   object
 2   Customer Lifetime Value    7070 non-null   float64
 3   Education                  7070 non-null   object
 4   Gender                     7070 non-null   object
 5   Income                     7070 non-null   int64
 6   Monthly Premium Auto       7070 non-null   int64
 7   Number of Open Complaints  7070 non-null   int64
 8   Policy Type                7070 non-null   object
 9   Total Claim Amount         7070 non-null   float64
 10  Vehicle Class              7070 non-null   object
dtypes: float64(2), int64(3), object(6)
memory usage: 607.7+ KB
None

In [14]:
## 3. Combine the Datasets

# Concatenate the datasets if they have the same structure
combined_df = pd.concat([df1, df2, df3], ignore_index=True)

In [15]:
# 4. Clean the Data

# Ensure 'text_column' is an actual column in your DataFrame
if 'text_column' in combined_df.columns:
    combined_df['text_column'] = combined_df['text_column'].str.lower()

# Optional: Check the cleaned data
print(combined_df.head())
print(combined_df.info())

  Customer          ST GENDER             Education Customer Lifetime Value  \
0  RB50392  Washington    NaN                Master                     NaN
1  QZ44356     Arizona      F              Bachelor              697953.59%
2  AI49188      Nevada      F              Bachelor             1288743.17%
3  WW63253  California      M              Bachelor              764586.18%
4  GA49547  Washington      M  High School or Below              536307.65%

    Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount State Gender
0  Four-Door Car            2.704934   NaN    NaN
1  Four-Door Car         1131.464935   NaN    NaN
2   Two-Door Car          566.472247   NaN    NaN
3            SUV          529.881344   NaN    NaN
4  Four-Door Car           17.269323   NaN    NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12074 entries, 0 to 12073
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   9137 non-null   object
 1   ST                         2067 non-null   object
 2   GENDER                     1945 non-null   object
 3   Education                  9137 non-null   object
 4   Customer Lifetime Value    9130 non-null   object
 5   Income                     9137 non-null   float64
 6   Monthly Premium Auto       9137 non-null   float64
 7   Number of Open Complaints  9137 non-null   object
 8   Policy Type                9137 non-null   object
 9   Vehicle Class              9137 non-null   object
 10  Total Claim Amount         9137 non-null   float64
 11  State                      7070 non-null   object
 12  Gender                     7070 non-null   object
dtypes: float64(3), object(10)
memory usage: 1.2+ MB
None

In [16]:
# 5. Verify Data Quality

# Check for remaining missing values
print(combined_df.isnull().sum())

# Check data types
print(combined_df.dtypes)

Customer                      2937
ST                           10007
GENDER                       10129
Education                     2937
Customer Lifetime Value       2944
Income                        2937
Monthly Premium Auto          2937
Number of Open Complaints     2937
Policy Type                   2937
Vehicle Class                 2937
Total Claim Amount            2937
State                         5004
Gender                        5004
dtype: int64
Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
State                         object
Gender                        object
dtype: object

In [17]:
# 6. Save the Cleaned Data

# Save the cleaned dataset
cleaned_file_path = 'cleaned_combined_data.csv'
combined_df.to_csv(cleaned_file_path, index=False)

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [19]:
# Your code goes here

import pandas as pd

# Cargar el dataset
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'
df = pd.read_csv(url)

# Inspeccionar los datos
print("Primeras filas del dataset:")
print(df.head())
print("\nTipos de datos y valores faltantes:")
print(df.info())
print("\nNombres de las columnas en el DataFrame:")
print(df.columns)

# Eliminar duplicados
df = df.drop_duplicates()

# Manejar valores faltantes
# Reemplazar valores faltantes en columnas categóricas con 'Unknown'
for col in df.select_dtypes(include=['object']).columns:
    df[col] = df[col].fillna('Unknown')

# Reemplazar valores faltantes en columnas numéricas con la mediana
for col in df.select_dtypes(include=['number']).columns:
    df[col] = df[col].fillna(df[col].median())

# Convertir tipos de datos
# Convertir columnas de fechas a datetime si es aplicable
date_columns = ['date_column']  # Reemplazar con columnas de fecha reales
for col in date_columns:
    if col in df.columns:
        df[col] = pd.to_datetime(df[col], errors='coerce')

# Convertir columnas categóricas a tipo categoría
categorical_columns = ['categorical_column1', 'categorical_column2']  # Reemplazar con columnas categóricas reales
for col in categorical_columns:
    if col in df.columns:
        df[col] = df[col].astype('category')

# Normalizar columnas de texto
text_columns = ['text_column1', 'text_column2']  # Reemplazar con columnas de texto reales
for col in text_columns:
    if col in df.columns:
        df[col] = df[col].str.lower()

# Guardar datos limpios en un nuevo archivo CSV
df.to_csv('cleaned_marketing_customer_analysis.csv', index=False)

# Realizar un análisis exploratorio de datos (EDA)
print("\nEDA - Conteo de valores para columnas categóricas:")
for col in categorical_columns:
    if col in df.columns:
        print(f"\nConteo de valores para {col}:")
        print(df[col].value_counts())

# Matriz de correlación solo con columnas numéricas
print("\nMatriz de correlación:")
numeric_df = df.select_dtypes(include=['number'])  # Seleccionar solo columnas numéricas
print(numeric_df.corr())

# Visualizaciones (opcional)
import matplotlib.pyplot as plt
import seaborn as sns

# Ejemplo: Distribución de una columna numérica
numeric_column = 'numeric_column'  # Reemplazar con una columna numérica real
if numeric_column in df.columns:
    sns.histplot(df[numeric_column])
    plt.title('Distribución de la Columna Numérica')
    plt.show()

# Ejemplo: Gráfico de conteo para una columna categórica
categorical_column = 'categorical_column1'  # Reemplazar con una columna categórica real
if categorical_column in df.columns:
    sns.countplot(x=categorical_column, data=df)
    plt.title('Conteo de la Columna Categórica')
    plt.show()

Primeras filas del dataset:
   unnamed:_0 customer       state  customer_lifetime_value response  \
0           0  DK49336     Arizona              4809.216960       No
1           1  KX64629  California              2228.525238       No
2           2  LZ68649  Washington             14947.917300       No
3           3  XL78013      Oregon             22332.439460      Yes
4           4  QA50777      Oregon              9025.067525       No

   coverage education effective_to_date employmentstatus gender  ...  \
0     Basic   College        2011-02-18         Employed      M  ...
1     Basic   College        2011-01-18       Unemployed      F  ...
2     Basic  Bachelor        2011-02-10         Employed      M  ...
3  Extended   College        2011-01-11         Employed      M  ...
4   Premium  Bachelor        2011-01-17    Medical Leave      F  ...

   number_of_policies     policy_type        policy  renew_offer_type  \
0                   9  Corporate Auto  Corporate L3            Offer3
1                   1   Personal Auto   Personal L3            Offer4
2                   2   Personal Auto   Personal L3            Offer3
3                   2  Corporate Auto  Corporate L3            Offer2
4                   7   Personal Auto   Personal L2            Offer1

   sales_channel  total_claim_amount  vehicle_class  vehicle_size  \
0          Agent          292.800000  Four-Door Car       Medsize
1    Call Center          744.924331  Four-Door Car       Medsize
2    Call Center          480.000000            SUV       Medsize
3         Branch          484.013411  Four-Door Car       Medsize
4         Branch          707.925645  Four-Door Car       Medsize

  vehicle_type month
0            A     2
1            A     1
2            A     2
3            A     1
4            A     1

[5 rows x 27 columns]

Tipos de datos y valores faltantes:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed:_0                     10910 non-null  int64
 1   customer                       10910 non-null  object
 2   state                          10910 non-null  object
 3   customer_lifetime_value        10910 non-null  float64
 4   response                       10910 non-null  object
 5   coverage                       10910 non-null  object
 6   education                      10910 non-null  object
 7   effective_to_date              10910 non-null  object
 8   employmentstatus               10910 non-null  object
 9   gender                         10910 non-null  object
 10  income                         10910 non-null  int64
 11  location_code                  10910 non-null  object
 12  marital_status                 10910 non-null  object
 13  monthly_premium_auto           10910 non-null  int64
 14  months_since_last_claim        10910 non-null  float64
 15  months_since_policy_inception  10910 non-null  int64
 16  number_of_open_complaints      10910 non-null  float64
 17  number_of_policies             10910 non-null  int64
 18  policy_type                    10910 non-null  object
 19  policy                         10910 non-null  object
 20  renew_offer_type               10910 non-null  object
 21  sales_channel                  10910 non-null  object
 22  total_claim_amount             10910 non-null  float64
 23  vehicle_class                  10910 non-null  object
 24  vehicle_size                   10910 non-null  object
 25  vehicle_type                   10910 non-null  object
 26  month                          10910 non-null  int64
dtypes: float64(4), int64(6), object(17)
memory usage: 2.2+ MB
None

Nombres de las columnas en el DataFrame:
Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'month'],
      dtype='object')

EDA - Conteo de valores para columnas categóricas:

Matriz de correlación:
                               unnamed:_0  customer_lifetime_value    income  \
unnamed:_0                       1.000000                 0.001355  0.008910
customer_lifetime_value          0.001355                 1.000000  0.028306
income                           0.008910                 0.028306  1.000000
monthly_premium_auto             0.000863                 0.403069 -0.009788
months_since_last_claim          0.007722                 0.015683 -0.023126
months_since_policy_inception    0.012795                 0.016960 -0.005903
number_of_open_complaints        0.007108                -0.031501  0.006956
number_of_policies               0.002319                 0.016024 -0.009960
total_claim_amount              -0.000593                 0.232626 -0.354141
month                            0.004755                -0.009234 -0.000443

                               monthly_premium_auto  months_since_last_claim  \
unnamed:_0                                 0.000863                 0.007722
customer_lifetime_value                    0.403069                 0.015683
income                                    -0.009788                -0.023126
monthly_premium_auto                       1.000000                 0.008504
months_since_last_claim                    0.008504                 1.000000
months_since_policy_inception              0.018953                -0.038155
number_of_open_complaints                 -0.010066                 0.002246
number_of_policies                        -0.020505                 0.007425
total_claim_amount                         0.631799                 0.012728
month                                      0.007253                -0.019359

                               months_since_policy_inception  \
unnamed:_0                                          0.012795
customer_lifetime_value                             0.016960
income                                             -0.005903
monthly_premium_auto                                0.018953
months_since_last_claim                            -0.038155
months_since_policy_inception                       1.000000
number_of_open_complaints                           0.004247
number_of_policies                                 -0.009123
total_claim_amount                                  0.003095
month                                               0.015163

                               number_of_open_complaints  number_of_policies  \
unnamed:_0                                      0.007108            0.002319
customer_lifetime_value                        -0.031501            0.016024
income                                          0.006956           -0.009960
monthly_premium_auto                           -0.010066           -0.020505
months_since_last_claim                         0.002246            0.007425
months_since_policy_inception                   0.004247           -0.009123
number_of_open_complaints                       1.000000            0.003964
number_of_policies                              0.003964            1.000000
total_claim_amount                             -0.011025           -0.008923
month                                          -0.004671            0.005127

                               total_claim_amount     month
unnamed:_0                              -0.000593  0.004755
customer_lifetime_value                  0.232626 -0.009234
income                                  -0.354141 -0.000443
monthly_premium_auto                     0.631799  0.007253
months_since_last_claim                  0.012728 -0.019359
months_since_policy_inception            0.003095  0.015163
number_of_open_complaints               -0.011025 -0.004671
number_of_policies                      -0.008923  0.005127
total_claim_amount                       1.000000  0.001425
month                                    0.001425  1.000000

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [40]:
import pandas as pd

# Cargar el dataset
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'
df = pd.read_csv(url)

# Mostrar los nombres de las columnas y las primeras filas
print("Nombres de las columnas:", df.columns)
print("Primeras filas del DataFrame:")
print(df.head())

Nombres de las columnas: Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'month'],
      dtype='object')
Primeras filas del DataFrame:
   unnamed:_0 customer       state  customer_lifetime_value response  \
0           0  DK49336     Arizona              4809.216960       No
1           1  KX64629  California              2228.525238       No
2           2  LZ68649  Washington             14947.917300       No
3           3  XL78013      Oregon             22332.439460      Yes
4           4  QA50777      Oregon              9025.067525       No

   coverage education effective_to_date employmentstatus gender  ...  \
0     Basic   College        2011-02-18         Employed      M  ...
1     Basic   College        2011-01-18       Unemployed      F  ...
2     Basic  Bachelor        2011-02-10         Employed      M  ...
3  Extended   College        2011-01-11         Employed      M  ...
4   Premium  Bachelor        2011-01-17    Medical Leave      F  ...

   number_of_policies     policy_type        policy  renew_offer_type  \
0                   9  Corporate Auto  Corporate L3            Offer3
1                   1   Personal Auto   Personal L3            Offer4
2                   2   Personal Auto   Personal L3            Offer3
3                   2  Corporate Auto  Corporate L3            Offer2
4                   7   Personal Auto   Personal L2            Offer1

   sales_channel  total_claim_amount  vehicle_class  vehicle_size  \
0          Agent          292.800000  Four-Door Car       Medsize
1    Call Center          744.924331  Four-Door Car       Medsize
2    Call Center          480.000000            SUV       Medsize
3         Branch          484.013411  Four-Door Car       Medsize
4         Branch          707.925645  Four-Door Car       Medsize

  vehicle_type month
0            A     2
1            A     1
2            A     2
3            A     1
4            A     1

[5 rows x 27 columns]

In [42]:
# Limpiar nombres de columnas
df.columns = df.columns.str.strip()

pivot_table = df.pivot_table(
    values='income',  
    index='sales_channel',  
    aggfunc='sum'
)

# Redondear el total de ingresos a 2 decimales
pivot_table = pivot_table.round(2)

# Mostrar la tabla dinámica
print("Tabla dinámica mostrando el total de ingresos por canal de ventas:")
print(pivot_table)

Tabla dinámica mostrando el total de ingresos por canal de ventas:
                  income
sales_channel
Agent          152490152
Branch         113775608
Call Center     81055004
Web             62200103

In [44]:
import pandas as pd

# Cargar el dataset
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'
df = pd.read_csv(url)

# Mostrar los nombres de las columnas y las primeras filas para ver qué datos tenemos
print("Nombres de las columnas:", df.columns)
print("Primeras filas del DataFrame:")
print(df.head())

# Limpiar nombres de columnas
df.columns = df.columns.str.strip()

# Crear una tabla dinámica para resumir el total de ingresos por canal de ventas
pivot_table = df.pivot_table(
    values='income', 
    index='sales_channel',  
    aggfunc='sum'
)

# Redondear el total de ingresos a 2 decimales
pivot_table = pivot_table.round(2)

# Mostrar la tabla dinámica
print("Tabla dinámica mostrando el total de ingresos por canal de ventas:")
print(pivot_table)

Nombres de las columnas: Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'month'],
      dtype='object')
Primeras filas del DataFrame:
   unnamed:_0 customer       state  customer_lifetime_value response  \
0           0  DK49336     Arizona              4809.216960       No
1           1  KX64629  California              2228.525238       No
2           2  LZ68649  Washington             14947.917300       No
3           3  XL78013      Oregon             22332.439460      Yes
4           4  QA50777      Oregon              9025.067525       No

   coverage education effective_to_date employmentstatus gender  ...  \
0     Basic   College        2011-02-18         Employed      M  ...
1     Basic   College        2011-01-18       Unemployed      F  ...
2     Basic  Bachelor        2011-02-10         Employed      M  ...
3  Extended   College        2011-01-11         Employed      M  ...
4   Premium  Bachelor        2011-01-17    Medical Leave      F  ...

   number_of_policies     policy_type        policy  renew_offer_type  \
0                   9  Corporate Auto  Corporate L3            Offer3
1                   1   Personal Auto   Personal L3            Offer4
2                   2   Personal Auto   Personal L3            Offer3
3                   2  Corporate Auto  Corporate L3            Offer2
4                   7   Personal Auto   Personal L2            Offer1

   sales_channel  total_claim_amount  vehicle_class  vehicle_size  \
0          Agent          292.800000  Four-Door Car       Medsize
1    Call Center          744.924331  Four-Door Car       Medsize
2    Call Center          480.000000            SUV       Medsize
3         Branch          484.013411  Four-Door Car       Medsize
4         Branch          707.925645  Four-Door Car       Medsize

  vehicle_type month
0            A     2
1            A     1
2            A     2
3            A     1
4            A     1

[5 rows x 27 columns]
Tabla dinámica mostrando el total de ingresos por canal de ventas:
                  income
sales_channel
Agent          152490152
Branch         113775608
Call Center     81055004
Web             62200103

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [45]:
# Paso 1: Cargar y Examinar los Datos

import pandas as pd

# Cargar el dataset
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'
df = pd.read_csv(url)

# Mostrar los nombres de las columnas y las primeras filas
print("Nombres de las columnas:", df.columns)
print("Primeras filas del DataFrame:")
print(df.head())

Nombres de las columnas: Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'month'],
      dtype='object')
Primeras filas del DataFrame:
   unnamed:_0 customer       state  customer_lifetime_value response  \
0           0  DK49336     Arizona              4809.216960       No
1           1  KX64629  California              2228.525238       No
2           2  LZ68649  Washington             14947.917300       No
3           3  XL78013      Oregon             22332.439460      Yes
4           4  QA50777      Oregon              9025.067525       No

   coverage education effective_to_date employmentstatus gender  ...  \
0     Basic   College        2011-02-18         Employed      M  ...
1     Basic   College        2011-01-18       Unemployed      F  ...
2     Basic  Bachelor        2011-02-10         Employed      M  ...
3  Extended   College        2011-01-11         Employed      M  ...
4   Premium  Bachelor        2011-01-17    Medical Leave      F  ...

   number_of_policies     policy_type        policy  renew_offer_type  \
0                   9  Corporate Auto  Corporate L3            Offer3
1                   1   Personal Auto   Personal L3            Offer4
2                   2   Personal Auto   Personal L3            Offer3
3                   2  Corporate Auto  Corporate L3            Offer2
4                   7   Personal Auto   Personal L2            Offer1

   sales_channel  total_claim_amount  vehicle_class  vehicle_size  \
0          Agent          292.800000  Four-Door Car       Medsize
1    Call Center          744.924331  Four-Door Car       Medsize
2    Call Center          480.000000            SUV       Medsize
3         Branch          484.013411  Four-Door Car       Medsize
4         Branch          707.925645  Four-Door Car       Medsize

  vehicle_type month
0            A     2
1            A     1
2            A     2
3            A     1
4            A     1

[5 rows x 27 columns]

In [47]:
# Paso 2: Crear la Tabla Dinámica

# Limpiar nombres de columnas
df.columns = df.columns.str.strip()

# Asegúrate de que los nombres de las columnas sean correctos
# Supongamos que las columnas relevantes son 'Customer_Lifetime_Value', 'Gender', y 'Education_Level'
pivot_table = df.pivot_table(
    values='customer_lifetime_value',  # Nombre de la columna para el CLV
    index='gender',  # Nombre de la columna para el género
    columns='education',  # Nombre de la columna para el nivel educativo
    aggfunc='mean'
)

# Redondear el promedio del CLV a 2 decimales
pivot_table = pivot_table.round(2)

# Mostrar la tabla dinámica
print("Tabla dinámica mostrando el promedio de CLV por género y nivel educativo:")
print(pivot_table)

Tabla dinámica mostrando el promedio de CLV por género y nivel educativo:
education  Bachelor  College   Doctor  High School or Below   Master
gender
F           7874.27  7748.82  7328.51               8675.22  8157.05
M           7703.60  8052.46  7415.33               8149.69  8168.83

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [48]:
# Your code goes here

import pandas as pd

# Crear un DataFrame en formato largo
df_long = pd.DataFrame({
    'ID': [1, 1, 1, 1, 2, 2, 2, 2],
    'Date': ['2024-01-01', '2024-01-02', '2024-01-01', '2024-01-02', '2024-01-01', '2024-01-02', '2024-01-01', '2024-01-02'],
    'Variable': ['Revenue', 'Revenue', 'Expense', 'Expense', 'Revenue', 'Revenue', 'Expense', 'Expense'],
    'Value': [1000, 1100, 500, 550, 2000, 2200, 1000, 1100]
})

# Convertir a formato ancho
df_wide = df_long.pivot_table(index=['ID', 'Date'], columns='Variable', values='Value').reset_index()

print(df_wide)

Variable  ID        Date  Expense  Revenue
0          1  2024-01-01    500.0   1000.0
1          1  2024-01-02    550.0   1100.0
2          2  2024-01-01   1000.0   2000.0
3          2  2024-01-02   1100.0   2200.0